# Node modules
node_modules/

# Logs
logs/
*.log

# Operating System files
.DS_Store  # macOS
Thumbs.db  # Windows

# Environment files
.env

# IDE or editor settings (example for VSCode)
.vscode/

# Build output
/dist/
build/
